.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
}

.avatars{
    height: 200px;
    width: 200px;
}

.avatarsImg{
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.nickname{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 500;
    color:#FFF;
    font-family: cursive;
}

.motto{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFF;
    font-family: cursive;
}