.avatarsImg{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.name{
    font-size: larger;
    font-family: fantasy;
    color: black;
    font-weight: 600;
    padding-left: 20px;
}

.home{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 85px;
    width: 85px;
}